.LiveList {
  border: 1px solid #000;
  margin: 10px;
  background: #eee;
  display: grid;
  grid-gap: 2px;
}
.LiveList__item {
  width: auto;
  height: auto;
  background-image: url(https://fakeimg.pl/500x500/4a7949/?text=Live);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 575px) {
  .LiveList {
    grid-template-columns: 1fr 1fr  1fr;
  }
}

@media screen and (min-width: 576px) {
  .LiveList {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

@media screen and (min-width: 768px) {
  .LiveList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .LiveList {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }
}
