<div>
  <mat-label>選擇服務器</mat-label>
  <mat-radio-group [(ngModel)]="selserverip">
    <mat-radio-button id="{{server}}" *ngFor="let server of serverips" [value]="server">
      {{server}}
    </mat-radio-button>
  </mat-radio-group>
  <div>
    你選的服務器: {{selserverip}}
  </div>

</div>
<hr>
<div>
  <mat-label>選擇車牌</mat-label>
  <mat-radio-group [(ngModel)]="selected">
    <mat-radio-button id="{{car}}" *ngFor="let car of cars" [value]="car">
      {{car}}
    </mat-radio-button>
  </mat-radio-group>
  <p>你選的車牌: {{selected}}</p>
</div>
<hr>
<div>
  <mat-label>選擇頻道</mat-label>
  <mat-radio-group [(ngModel)]="selectedchannel">
    <mat-radio-button id="{{channel}}" *ngFor="let channel of channels" [value]="channel">
      {{channel}}
    </mat-radio-button>
  </mat-radio-group>
  <p>你選的頻道: {{selectedchannel}}</p>
</div>
<button #vcbtnstart mat-raised-button color="primary" (click)="start()">開始</button>
<hr>

<div class="LiveList">
  <div #documentSection class="LiveList__item">
    <app-car-room264 #cr2640 [title]="channels[0]" [carname]="selected" [socketiourl]="connecturl"></app-car-room264>
  </div>
  <div class="LiveList__item">
    <app-car-room264 #cr2641 [title]="channels[1]" [carname]="selected" [socketiourl]="connecturl"></app-car-room264>
  </div>
  <div class="LiveList__item">
    <app-car-room264 #cr2642 [title]="channels[2]" [carname]="selected" [socketiourl]="connecturl"></app-car-room264>
  </div>
  <div class="LiveList__item">
    <app-car-room264 #cr2643 [title]="channels[3]" [carname]="selected" [socketiourl]="connecturl"></app-car-room264>
  </div>
  <div class="LiveList__item">
    <app-car-room264 #cr2644 [title]="channels[4]" [carname]="selected" [socketiourl]="connecturl"></app-car-room264>
  </div>
  <div class="LiveList__item">
    <app-car-room264 #cr2645 [title]="channels[5]" [carname]="selected" [socketiourl]="connecturl"></app-car-room264>
  </div>
  <div class="LiveList__item">
    <app-car-room264 #cr2646 [title]="channels[6]" [carname]="selected" [socketiourl]="connecturl"></app-car-room264>
  </div>
  <div class="LiveList__item">
    <app-car-room264 #cr2647 [title]="channels[7]" [carname]="selected" [socketiourl]="connecturl"></app-car-room264>
  </div>
</div>
<hr>
<p>各看個的頻道</p>
<!-- <span>
  <app-car-room264 #cr2640 [title]="channels[0]" [carname]="selected" [socketiourl]="connecturl"></app-car-room264>
</span>
<span>
  <app-car-room264 #cr2640 [title]="channels[1]" [carname]="selected" [socketiourl]="connecturl"></app-car-room264>
</span>
<span>
  <app-car-room264 #cr2640 [title]="channels[2]" [carname]="selected" [socketiourl]="connecturl"></app-car-room264>
</span>
<span>
  <app-car-room264 #cr2640 [title]="channels[3]" [carname]="selected" [socketiourl]="connecturl"></app-car-room264>
</span>
<span>
  <app-car-room264 #cr2640 [title]="channels[4]" [carname]="selected" [socketiourl]="connecturl"></app-car-room264>
</span>
<span>
  <app-car-room264 #cr2640 [title]="channels[5]" [carname]="selected" [socketiourl]="connecturl"></app-car-room264>
</span>
<span>
  <app-car-room264 #cr2640 [title]="channels[6]" [carname]="selected" [socketiourl]="connecturl"></app-car-room264>
</span>
<span>
  <app-car-room264 #cr2640 [title]="channels[7]" [carname]="selected" [socketiourl]="connecturl"></app-car-room264>
</span>
<hr> -->
<p>看單一頻道</p>
<!-- <span>
  <app-view-live-one [title]="1" [carname]="selected" [socketiourl]="connecturl"></app-view-live-one>
</span>
<span>
  <app-view-live-one [title]="2" [carname]="selected" [socketiourl]="connecturl"></app-view-live-one>
</span>
<span>
  <app-view-live-one [title]="3" [carname]="selected" [socketiourl]="connecturl"></app-view-live-one>
</span>
<span>
  <app-view-live-one [title]="4" [carname]="selected" [socketiourl]="connecturl"></app-view-live-one>
</span>
<span>
  <app-view-live-one [title]="5" [carname]="selected" [socketiourl]="connecturl"></app-view-live-one>
</span>
<span>
  <app-view-live-one [title]="6" [carname]="selected" [socketiourl]="connecturl"></app-view-live-one>
</span>
<span>
  <app-view-live-one [title]="7" [carname]="selected" [socketiourl]="connecturl"></app-view-live-one>
</span>
<span>
  <app-view-live-one [title]="8" [carname]="selected" [socketiourl]="connecturl"></app-view-live-one>
</span> -->
<hr>
<p>看copy</p>
<!-- <span>
  <app-view-live-copy [title]="channels[0]" [carname]="selected" [socketiourl]="connecturl"></app-view-live-copy>
</span> -->
