<span>
  看copy:{{title}}
  <button #vcbtnstart mat-raised-button color="primary" (click)="start()">連線</button>
</span>
<span>
  <video id="v1" autoplay controls></video>
</span>
<span>
  <video id="v2" autoplay controls></video>
</span>
<span>
  <video id="v3" autoplay controls></video>
</span>
<span>
  <video id="v4" autoplay controls></video>
</span>
<span>
  <video id="v5" autoplay controls></video>
</span>
<span>
  <video id="v6" autoplay controls></video>
</span>
<span>
  <video id="v7" autoplay controls></video>
</span>
<span>
  <video id="v8" autoplay controls></video>
</span>
