.DVRList {
  border: 1px solid #000;
  margin: 20px;
  background: #eee;
  display: grid;
  grid-gap: 5px;
}
.DVRList__item {
  height: 200px;
  background-image: url(https://fakeimg.pl/500x500/4a7949/?text=DVR);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 575px) {
  .DVRList {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .DVRList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .DVRList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .DVRList {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
